.container{
    background-color: rgb(217, 42, 42);
    width: 1000px;
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    gap: 30px;
    padding: 20px;
    border-radius: 50px;
}
.result{
    background-color: lightblue;
    width: 900px;
    height: 200px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
}
.operands{
    display: flex;
    width: 900px;
    height: 700px;
    
}
.numbers{
    display:flex;
    flex-direction: column;
    gap: 30px;
    width: 600px;
    height: 680px;
    justify-content: center;
    
   
}
.arithmetic{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 680px;
    
    gap:10px;
    justify-content: space-between;
    align-items: center;
}

.top,.middle,.bottom{
    display: flex;
    gap: 20px;
    width: 600px;
    height: 150px;
    
    justify-content: space-between;

}
.box-sec{
    width: 600px;
    height: 150px;
    
    background-color: lightgrey;
    border-radius: 15px;
}
.box{
    background-color: lightgray;
    width: 150px;
    height: 140px;
    border-radius: 15px;
}
.boz,.boz-ac,.boz-equal{
    background-color: aquamarine;
    width: 250px;
    height: 100px;
    border-radius: 15px;

}
h1{
    text-align: center;
    color: darkblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}
.text{
    font-size: 130px;
}