.container{
    background-color: grey;
    width: 1000px;
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.result{
    background-color: lightblue;
    width: 900px;
    height: 200px;
    border-radius: 15px;
}
.operands{
    display: flex;
    width: 900px;
    height: 700px;
    border: 2px solid red;
}
.numbers{
    display:flex;
    flex-direction: column;
    gap: 30px;
    width: 600px;
    height: 680px;
    border: 2px solid red;
    justify-content: center;
    
   
}
.arithmetic{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 680px;
    border: 2px solid blue;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.top,.middle,.bottom{
    display: flex;
    gap: 20px;
    width: 600px;
    height: 150px;
    border: 2px solid blue;
    justify-content: space-between;

}
.box-sec{
    width: 600px;
    height: 150px;
    border: 2px solid blue;
    background-color: lightgrey;
    border-radius: 15px;
}
.box{
    background-color: lightgray;
    width: 150px;
    height: 140px;
    border-radius: 15px;
}
.boz{
    background-color: aquamarine;
    width: 250px;
    height: 200px;
    border-radius: 15px;

}
h1{
    text-align: center;
    color: darkblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}